.nav-link {
    padding: 0.5rem;
    &:hover {
        text-decoration: none;
        color: rgba($primary-dark, 0.7);
    }
    color: #FFF;
}
@include media-md {
    .nav-link {
        padding: 0.5rem 1rem;
    }
}
.navbar {
    color: $primary-dark;
    height: auto;
    z-index: 100;
    font-size: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    .container {
        margin: 0 !important;
        max-width: 100% !important;
        
        .underline {
            border-bottom: 3px solid white;
        }

        #register {
            border-radius: 15px;
            background: linear-gradient(244deg, rgba(185, 249, 253, 0.75) 37.36%, rgba(255, 255, 255, 0.75) 64.99%);
            border: 3px solid #6C6288;
            color: #0C1A3D;
            text-transform: uppercase;

            display: inline-flex; /* Use inline-flex to treat the button as a flex container */
            justify-content: center; /* Center the content horizontally */
            align-items: center; /* Center the content vertically */
            padding: 15px 15px;
            cursor: pointer;

            h6 {
                margin: 0px;
            }
            span {
                color: #0C1A3D;
            }

            // &:hover {
            //     background: linear-gradient(125.99deg, rgba(215, 0, 155, 0.75) 24.81%, rgba(69, 17, 208, 0.75) 95.13%);
            // }
        }

        @media (max-width: 576px) {
            justify-content: center;
        }
    }

    .navbar-brand{
        display: block;
        margin: auto;

        img {
            height: 100px;
        }

    }
    .menu {
        margin: auto;
    }

    li {
        display: inline;

    }
}

@include media-sm {
    .navbar {
        height: 76px;
        .navbar-brand {
            display: inline-block;
            margin: 0 1rem 0 0; 
        }
        .menu {
            margin: 0;
        }
    }
}